*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.maindiv:hover .box-1{
    
}

 nav{
    background-color: rgb(47, 8, 107);
    position: fixed;
    position: sticky;
    top: 100px;
    width: 100%;
} 
 nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding:20px;
    color:white;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.maindiv{
    height: 600px;
    width: 1200px;
    background-color: gray;
    border:1px solid black;
    position: relative;
}

.maindiv div{
    height: 100px;
    width: 100px;
    border:1px solid black;
}

.box-1{
    position: absolute;
    right:0;
}
.box-2{
    position: absolute;
    bottom: 0;
}
.box-3{
    position: absolute;
    right: 0;
    bottom: 0;
}
.box-4{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.box-5{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
.box-6{
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;
}
.box-7{
    position: absolute;
    inset: 0;
    margin: auto;
}
.box-8{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
}
.box-9{
    position: absolute;
}