*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.maindiv:hover .box-1{
    
}



.maindiv{
    height: 600px;
    width: 1200px;
    background-color: gray;
    border:1px solid black;
    position: relative;
}

.maindiv div{
    height: 100px;
    width: 100px;
    border:1px solid black;
}

.box-1{
    position: absolute;
    right:0;
}
.box-2{
    position: absolute;
    bottom: 0;
}
.box-3{
    position: absolute;
    right: 0;
    bottom: 0;
}
.box-4{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.box-5{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
.box-6{
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;
}
.box-7{
    position: absolute;
    inset: 0;
    margin: auto;
}
.box-8{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
}
.box-9{
    position: absolute;
}

.maindiv .child_1{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    right: 0;
}

.maindiv .child_2{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    bottom: 0;
}
.maindiv .child_3{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
}
.maindiv .child_4{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.maindiv .child_5{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
}.maindiv .child_6{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right:0;
    top:0;
    margin: auto;
}
.maindiv .child_7{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    inset: 0;
    margin: auto;
}.maindiv .child_8{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    bottom: 0;
    top:0;
    margin: auto;
}.maindiv .child_9{
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    top: 0;
}