*{
    box-sizing: border-box;
    margin: 0;
}

/* Css Box model */


.maindiv{
    display: flex;
    height: 90vh;
}

.maindiv div{
    /* flex-grow: 1; */
    flex-basis: 100px;
    border:1px solid black;
}